.search-results-container {
    margin-left: 5%;
    margin-top: 8%;
    transition: margin-left 0.3s ease-in-out;
}

.search-results-loading {
    text-align: center;
    font-size: 18px;
    color: #888;
}

.search-results-no-results {
    text-align: center;
    font-size: 18px;
    color: #555;
}

.search-results-videos-list {
    display: block;
    margin-top: 20px;
}

.search-results-container.shifted {
    margin-left: 18%;
    transition: margin-left 0.3s ease-in-out;
}

.search-results-video-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 1px solid #f0f0f0;
    transition: background-color 0.3s ease;
}

.search-results-video-item:hover {
    background-color: #f9f9f9;
}

.search-results-video-thumbnail {
    width: 300px;
    height: 200px;
    object-fit: cover;
    margin-right: 20px;
    transition: transform 0.3s ease;
}

.search-results-video-thumbnail:hover {
    transform: scale(1.05);
}

.search-results-video-info {
    flex: 1;
}

.search-results-video-info h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #333;
}

.search-results-video-meta {
    font-size: 0.9rem;
    color: #777;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.search-results-video-views,
.search-results-video-published-at {
    margin-right: 10px;
}

.search-results-video-channel {
    font-size: 0.9rem;
    color: #555;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.search-results-channel-thumbnail {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 5px;
}

.search-results-video-description {
    font-size: 0.9rem;
    color: #555;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 100%;
}

@media (max-width: 480px) {

    .search-results-video-info {
        flex: 1;
        max-width: 100%;
        margin-top: 1%;
    }

    .search-results-container {
        max-width: 100%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .search-results-video-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 0;
        padding: 0;
        width: 100%;
        box-sizing: border-box;
    }

    .search-results-video-thumbnail {
        width: 100%;
        height: auto;
        margin: 0;
    }

    .search-results-video-info h3 {
        font-size: 1rem;
    }

    .search-results-video-meta {
        font-size: 0.75rem;
    }

    .search-results-video-channel {
        font-size: 0.75rem;
    }

    .search-results-video-description {
        font-size: 0.75rem;
    }

    .search-results-videos-list:first-child {
        margin-top: 40%;
    }

    .search-results-container.shifted {
        margin-left: 0;
    }

}