.gaming-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    height: 300px;
    margin-bottom: 2%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.gaming-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

.gaming-thumbnail {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.gaming-info {
    padding: 10px;
    flex: 1;
}

.gaming-info h3 {
    font-size: 1.2rem;
    margin: 0;
    height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.gaming-info p {
    margin: 5px 0;
    color: #555;
    font-size: 0.9rem;
    line-height: 1.2;
    overflow: hidden;
    text-overflow: ellipsis;
}

.gaming-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
    transition: margin-left 0.3s ease-in-out;
}

.gaming-list.shifted {
    margin-left: 16%;
    transition: margin-left 0.3s ease-in-out;
}

.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 100%;
}

@media (max-width: 480px) {

    .gaming-list {
        flex-direction: column;
        margin-left: 5%;
        margin-right: 5%;
    }

    .gaming-card {
        max-width: 100%;
        height: auto;
        margin-bottom: 5%;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .gaming-card:first-child {
        margin-top: 15%;
    }

    .gaming-thumbnail {
        height: 120px;
    }

    .gaming-info {
        padding: 8px;
    }

    .gaming-info h3 {
        font-size: 0.9rem;
        height: auto;
    }

    .gaming-info p {
        font-size: 0.75rem;
    }

    .gaming-list.shifted {
        margin-left: 0;
    }

}